.header-hidden {
  color: white;
}

.mapboxgl-map {
  margin: auto;
}
.parkname {
  text-align: center;
}

.weatherHeader {
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2em;
}

.singlePageContainer {
  margin-top: 10px;
  margin-bottom: 10px;

}

.modal {
  height: 50%
}

.imagewrap {
  display:inline-block;
  position:relative;
}
.button1 {
  position:absolute;
  bottom:0;
  left:0;
}
.trailItem {
    max-height: 60px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden; 
    } /* Hide the horizontal scroll */


.filtersgridrow {
  font-size:0.8em;
}

.filterHeader {
  height: 5%;
  width:67%;
  margin-top: 0px;
  padding-top:20px;
  font-size:1.5em;
}
.filtersgridrow {
  margin:0px;
  height:10%;
  padding:0px;
}


.filtersgridcolumn {
  margin:0px;
  height:10%;
  padding:0px;
}

.filterElement {
  width:67%;
  height:1%;
  line-height: 1%;
  margin:0px;
  padding:0px;
}

.filtersGridColumn.column-one, .filterHeader.column-one, .column-one, .column-two {
  margin-left: 50px;
}

.ui.segment {
  padding:0px;
}

div.ui.segment.pushable {
  margin-top:0;
}