td {
  padding: 0px 15px 0px 15px;
}

th {
  text-align: center;
}

.header-hidden {
  color: white;
}

.mapboxgl-map {
  margin: auto
}
.parkname {
  text-align: center
}

.weatherHeader {
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2em;
}

