
.logout-link {
  text-align: right;
}

.header-hidden {
  color: white;
}

.mapboxgl-map {
  margin: auto
}
.parkname {
  text-align: center
}

.weatherHeader {
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2em;
}

